### Task 2: Data Cleaning and Preprocessing

In [1]:
## Description: Clean and preprocess a raw dataset to make it suitable for analysis.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

## I have Selected Stock Prices Dataset.

In [13]:
# Loading the dataset
dataset = pd.read_csv('Stock_Prices_Data_Set.csv')
dataset.head()

  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [14]:
# Shape of the dataset
print(f"Our dataset has {dataset.shape[0]} rows and {dataset.shape[1]} columns.")

Our dataset has 497472 rows and 7 columns.

-  Handle missing data (e.g., imputation, removal).

In [15]:
# Check for missing values
dataset.isnull().sum()

symbol     0
date       0
open      11
high       8
low        8
close      0
volume     0
dtype: int64

In [16]:
print(f"""It is shown that from 497472 rows, the column open have only 11 missing values, 
and  hight have only 8 missing values and the low have also 8 missing values.""")

It is shown that from 497472 rows, the column open have only 11 missing values,
and  hight have only 8 missing values and the low have also 8 missing values.

In [17]:
# Imputation of data
# Forward Fill (ffill): Fill missing values with the last available price.
#  Why is this useful?

# Preserves the trend of stock price movements.

# Works well when missing values are sparse and close together.

dataset['open'].fillna(method='ffill', inplace=True)
dataset['high'].fillna(method='ffill', inplace=True)
dataset['low'].fillna(method='ffill', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\621404310.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['open'].fillna(method='ffill', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\621404310.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset['open'].fillna(method='ffill', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\621404310.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['high'].fillna(method='ffill', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\621404310.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset['high'].fillna(method='ffill', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\621404310.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['low'].fillna(method='ffill', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\621404310.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset['low'].fillna(method='ffill', inplace=True)

In [18]:
missings =  dataset.isnull().sum()
print(missings)
print(f"Now our all missing values are filled with the last available price.")
# We can also remove these observations  as well because our missing were very small in number

symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64
Now our all missing values are filled with the last available price.

- Detect and remove outliers.

In [19]:
def find_outlier(data, threshold=4):
    q1 = data.quantile(0.25)
    q3 = data.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - threshold * iqr
    upper_bound = q3 + threshold * iqr
    outlier = [x for x in  data if x < lower_bound or x > upper_bound]
    return len(outlier)

print(f" The total ouliers in open are {find_outlier(dataset['open'])}.")
print(f" The total ouliers in high are {find_outlier(dataset['high'])}.")
print(f" The total ouliers in low are {find_outlier(dataset['low'])}.")
print(f" The total ouliers in close are {find_outlier(dataset['close'])}.")

 The total ouliers in open are 9105.
 The total ouliers in high are 9152.
 The total ouliers in low are 9061.
 The total ouliers in close are 9103.

In [20]:
def find_outlier_condition(data, threshold=4):
    
    q1 = data.quantile(0.25)
    q3 = data.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - threshold * iqr
    upper_bound = q3 + threshold * iqr

    return lower_bound, upper_bound

open_lower, open_upper = find_outlier_condition(dataset['open'])
high_lower, high_upper = find_outlier_condition(dataset['high'])
low_lower, low_upper = find_outlier_condition(dataset['low'])
close_lower, close_upper = find_outlier_condition(dataset['close'])

In [21]:
print(f"the lower bound of the open is {open_lower}")
print(f"the upper bound of the open is {open_upper}")
print(f"the lower bound of the high is {high_lower}")
print(f"the upper bound of the high is {high_upper}")
print(f"the lower bound of the low is {low_lower}")
print(f"the upper bound of the low is {low_upper}")
print(f"the lower bound of the close is {close_lower}")
print(f"the upper bound of the close is {close_upper}")

the lower bound of the open is -185.19
the upper bound of the open is 325.28999999999996
the lower bound of the high is -186.47
the upper bound of the high is 327.79
the lower bound of the low is -183.92
the upper bound of the low is 322.78
the lower bound of the close is -185.16125
the upper bound of the close is 325.285

In [22]:
outlier_conditions = (
    (dataset['open'] < open_lower) | (dataset['open'] > open_upper) |
    (dataset['high'] < high_lower) | (dataset['high'] > high_upper) |
    (dataset['low'] < low_lower)  | (dataset['low'] > low_upper) |
    (dataset['close'] < close_lower) | (dataset['close'] > close_upper)
)

In [23]:
cleaned_dataset = dataset[~outlier_conditions]

In [24]:
cleaned_dataset.shape

(488266, 7)

Now  Our dataset is fully cleaned and outliers removed.

In [25]:
print(f" The total ouliers in open are {find_outlier(cleaned_dataset['open'])}.")
print(f" The total ouliers in high are {find_outlier(cleaned_dataset['high'])}.")
print(f" The total ouliers in low are {find_outlier(cleaned_dataset['low'])}.")
print(f" The total ouliers in close are {find_outlier(cleaned_dataset['close'])}.")
print(f"Now our dataset is cleaned and we have removed all the outliers.")

 The total ouliers in open are 511.
 The total ouliers in high are 542.
 The total ouliers in low are 479.
 The total ouliers in close are 495.
Now our dataset is cleaned and we have removed all the outliers.

- Convert categorical variables into numerical format using one-hot encoding or label encoding.

In [26]:
cleaned_dataset.head()

  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [27]:
print(f"There are {cleaned_dataset["symbol"].nunique()} unique symbols in the dataset.")

There are 501 unique symbols in the dataset.

In [28]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
cleaned_dataset['symbol'] = encoder.fit_transform(cleaned_dataset['symbol'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_14152\2481466266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_dataset['symbol'] = encoder.fit_transform(cleaned_dataset['symbol'])

In [29]:
cleaned_dataset.tail()

        symbol        date    open    high     low   close   volume
497467     496  2017-12-29   68.53   68.80   67.92   68.20  1046677
497468     497  2017-12-29   82.64   82.71   81.59   81.61  1347613
497469     498  2017-12-29  121.75  121.95  120.62  120.67  1023624
497470     499  2017-12-29   51.28   51.55   50.81   50.83  1261916
497471     500  2017-12-29   72.55   72.76   72.04   72.04  1704122

- Normalize or standardize numerical data.

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = cleaned_dataset.copy()
scaled_data[['open', 'high', 'low', 'close']] = scaler.fit_transform(cleaned_dataset[['open', 'high', 'low', 'close']])
scaled_data.head()

   symbol        date      open      high       low     close    volume
0       1  2014-01-02 -1.019921 -1.010001 -1.015134 -1.014292   8998943
1       3  2014-01-02  0.071231  0.060759  0.075483  0.063546  58791957
2       2  2014-01-02  0.693568  0.704232  0.692347  0.680648    542711
3       4  2014-01-02 -0.476483 -0.481947 -0.478746 -0.479576   4569061
4       5  2014-01-02 -0.115061 -0.125396 -0.114667 -0.119818   1148391

Now our dataset is fully scalled , ouliters removed , fullfill missing values and ready to go for next step.

- Tools: Python, pandas, scikit-learn

We use all the specified tools in our notebook.

In [31]:
# Save the cleaned and scaled dataset to a new CSV file
scaled_data.to_csv('cleaned_scaled_stock_prices.csv', index=False)
print("Cleaned and scaled dataset saved to 'cleaned_scaled_stock_prices.csv'.")

Cleaned and scaled dataset saved to 'cleaned_scaled_stock_prices.csv'.